{
  "parser": "babel-eslint",
  "extends": [
    "graph"
  ],
  "env": {
    "jest": true
  },
  "plugins": ["promise"],
  "globals": {
    "render": false
  },
  "rules": {
    "promise/prefer-await-to-then": "error",
    "import/no-cycle": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "global-require": 0,
    "no-shadow": ["off"],
    "no-prototype-builtins": ["off"],
    "no-underscore-dangle": ["off"],
    "no-undef": ["off"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-indent-props": [
      "error",
      "tab"
    ]
  }
}
